<nav class="navbar" id="sidebar-wrapper" role="navigation">
  <button type="button" class="collapsed btn-link"  aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <i class="fa fa-chevron-left"></i>
  </button>
  <div class="collapse navbar-collapse" id="sidebar-collapse">
    <ul class="nav sidebar-nav">
      <h6 class="navbar-text">Main</h6>
      <hr/>
      <li ng-repeat="item in mainItems">
        <a href="#">
          <i ng-class="item.icon"></i>
          {{item.text}}
        </a>
      </li>

      <h6 class="navbar-text">More</h6>
      <hr/>
      <li ng-repeat="item in moreItems">
        <a href="#">
          <i ng-class="item.icon"></i>
          {{item.text}}
        </a>
      </li>

      <h6 class="navbar-text">Settings</h6>
      <hr/>
      <li ng-repeat="item in settings">
        <a href="#">
          <i ng-class="item.icon"></i>
          {{item.text}}
        </a>
      </li>

    </ul>
  </nav>
