sidebar-right {
  display: table-cell;
  background-color: #ededed;
  width: 280px;
  padding: 15px;
  transition: all 0.5s ease;

  h5 {
    color: #939496;
    text-transform: uppercase;
    font-size: 1.0em;
    margin: 20px 0px 5px;
  }

  a, p {
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
  }

  hr {
    border-color: #d3d3d3;
    margin: 0px 0px 10px;
  }

  .collapsed {
    background-color: #e4e4e4;
    position: absolute;
    padding: 10px 7px;
    margin: -14px -15px;

    i {
      color: #6c6d6f;
    }
  }

  .image-panel {
    margin-top: -5px;
    text-align: center;
  }

  .follower-img {
    height: 33px;
    width: 33px;
    margin: 1px;
    border-radius: 2px;
    cursor: pointer;
  }

  .nav-content {
    padding-top: 30px;
  }

  .recent-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    text-align: center;

    i {
      display: block;
      font-size: 2.0em;
      color: #939496;
      padding: 5px;
    }
  }

  .recent-text {
    display: inline-block;
    vertical-align: middle;
  }

  @media screen and (max-width: 992px) {
    width: 25px;
    padding: 0px;

    .navbar {
      width: 25px;
      margin: -5px 0px;
    }

    .nav-content {
      display: none;
    }

    .collapsed {
      margin: 0px;
    }
  }
}
